/venv/
/venv1/
/cru-ts-2-10.1991-2000-cutdown.pre
/.idea/JBA_test.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/test1.db
/.idea/vcs.xml
/test/temp.db
